In [111]:
import pandas as pd
import numpy as np

In [112]:
data = pd.read_excel(r"C:\Users\isaac\Documentos\Eco\C.Econ\pwt91.xlsx", sheet_name = "Data")

In [113]:
data.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
data['gdppc']=data['rgdpo']/data['pop']
data[['gdppc_growth','pop_growth']]=data.sort_values(['year']).groupby('country')[['gdppc','pop']].pct_change()
data['ln_gdppc']=np.log(data['gdppc'])

In [116]:
data_1970 = data[(data["year"]>=1970)]
data_1970.tail()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k,gdppc,gdppc_growth,pop_growth,ln_gdppc
12371,ZWE,Zimbabwe,US Dollar,2013,28086.937500,28329.810547,15.054506,7.914061,NaN,2.504635,...,0.582022,0.448409,0.723247,0.632360,0.383488,0.704313,1881.815981,0.046855,0.023362,7.539993
12372,ZWE,Zimbabwe,US Dollar,2014,29217.554688,29355.759766,15.411675,8.222112,NaN,2.550258,...,0.557172,0.392895,0.724510,0.628352,0.349735,0.704991,1904.774069,0.012200,0.023725,7.552119
12373,ZWE,Zimbabwe,US Dollar,2015,30091.923828,29150.750000,15.777451,8.530669,NaN,2.584653,...,0.580814,0.343926,0.654940,0.564430,0.348472,0.713156,1847.621064,-0.030005,0.023734,7.521654
12374,ZWE,Zimbabwe,US Dollar,2016,30974.292969,29420.449219,16.150362,8.839398,NaN,2.616257,...,0.599462,0.337853,0.657060,0.550084,0.346553,0.718671,1821.658808,-0.014052,0.023636,7.507503
12375,ZWE,Zimbabwe,US Dollar,2017,32693.474609,30940.816406,16.529903,9.181251,NaN,2.648248,...,0.726222,0.340680,0.645338,0.539529,0.412392,0.755215,1871.808663,0.027530,0.023500,7.534660

In [117]:
data_1970.dropna()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k,gdppc,gdppc_growth,pop_growth,ln_gdppc
395,ARG,Argentina,Argentine Peso,2005,4.996846e+05,4.897877e+05,39.145489,16.181486,1761.399414,2.788760,...,0.440981,0.468773,0.585435,0.563632,0.384559,1.141901,12511.982147,0.075925,0.010762,9.434442
1143,BGR,Bulgaria,Bulgarian Lev,2005,8.330810e+04,8.900340e+04,7.683763,3.528635,1658.646362,2.990984,...,0.450137,0.241626,0.564434,0.538063,0.378508,1.069216,11583.308611,0.118265,-0.007684,9.357320
1149,BGR,Bulgaria,Bulgarian Lev,2011,1.171429e+05,1.118272e+05,7.356213,3.527287,1643.592773,3.094154,...,0.569057,0.319174,0.748949,0.633013,0.427855,0.952724,15201.735147,0.019786,-0.006533,9.629165
1687,BRA,Brazil,Brazilian Real,2005,1.647282e+06,1.638427e+06,186.917358,89.916084,1783.131226,2.257130,...,0.504563,0.604091,0.605446,0.586874,0.441078,0.807662,8765.516157,0.024752,0.011794,9.078581
1693,BRA,Brazil,Brazilian Real,2011,2.984257e+06,2.973946e+06,198.686691,98.944092,1773.174561,2.560896,...,0.734997,0.889624,0.736029,0.726137,0.516518,0.870649,14968.016885,0.105347,0.009606,9.613671
2231,CHL,Chile,Chilean Peso,2005,2.164264e+05,2.122537e+05,16.147064,6.067058,2157.000000,2.881110,...,0.503284,0.656844,0.608955,0.581199,0.455221,1.195002,13145.032729,0.111423,0.010848,9.483799
2237,CHL,Chile,Chilean Peso,2011,3.550875e+05,3.406518e+05,17.153357,7.217094,2047.000000,2.996880,...,0.703758,0.546779,0.753183,0.661159,0.575234,1.206856,19859.190836,0.097621,0.009416,9.896422
2299,CHN,China,Yuan Renminbi,2005,8.232070e+06,8.048983e+06,1321.623535,757.962769,2192.354492,2.282168,...,0.331944,0.163336,0.562032,0.628094,0.267776,0.469698,6090.223718,0.116342,0.005796,8.714440
2305,CHN,China,Yuan Renminbi,2011,1.401538e+07,1.402819e+07,1367.480225,779.572754,2178.770752,2.373193,...,0.539895,0.554208,0.735601,0.767007,0.403433,0.584465,10258.423301,0.098651,0.005681,9.235854
2639,COL,Colombia,Colombian Peso,2005,3.296424e+05,3.303884e+05,43.285633,17.816040,2013.928711,2.271745,...,0.448814,0.535805,0.524488,0.545054,0.354964,0.669581,7632.750498,0.054366,0.013142,8.940204
2645,COL,Colombia,Colombian Peso,2011,5.375734e+05,5.468155e+05,46.406647,20.891802,2040.172974,2.410688,...,0.696988,0.645344,0.630269,0.707340,0.550208,1.037649,11783.128895,0.107801,0.010640,9.374424
2849,CRI,Costa Rica,Costa Rican Colon,2011,6.128126e+04,5.840551e+04,4.600474,1.805071,2289.887207,2.545922,...,0.726250,0.821417,0.748128,0.657914,0.542672,1.069610,12695.542510,0.048612,0.012143,9.449006
3591,ECU,Ecuador,US Dollar,2005,9.870911e+04,9.933847e+04,13.735233,5.839889,1804.769409,2.594162,...,0.369370,0.439876,0.496598,0.536669,0.291206,0.395142,7232.383064,0.120963,0.016698,8.886324
3597,ECU,Ecuador,US Dollar,2011,1.492477e+05,1.513651e+05,15.177355,6.335680,1799.336060,2.711337,...,0.559751,0.562198,0.645039,0.671196,0.386440,0.298188,9973.088937,0.092446,0.016248,9.207646
5019,HRV,Croatia,Croatian Kuna,2005,7.211280e+04,7.057327e+04,4.378057,1.613983,1926.516602,3.050947,...,0.612107,0.571696,0.570869,0.561177,0.626162,0.679220,16119.770343,0.090033,-0.001337,9.687802
5025,HRV,Croatia,Croatian Kuna,2011,9.015040e+04,8.647325e+04,4.313371,1.600991,1940.276245,3.268047,...,0.635750,0.602508,0.740290,0.654515,0.522937,0.467947,20047.718214,0.038472,-0.003415,9.905871
5223,IDN,Indonesia,Rupiah,2005,9.667169e+05,9.259244e+05,226.712723,94.099495,1953.515991,2.298315,...,0.351038,0.237602,0.539173,0.539172,0.286437,0.715053,4084.130629,0.078134,0.013854,8.314864
5229,IDN,Indonesia,Rupiah,2011,2.180976e+06,2.168424e+06,245.707504,110.900818,2023.279175,2.402131,...,0.384218,0.344980,0.668092,0.699823,0.270813,0.467918,8825.223944,0.198194,0.013126,9.085369
5291,IND,India,Indian Rupee,2005,3.065670e+06,3.157257e+06,1144.118652,478.436157,2096.916016,1.856847,...,0.308990,0.220572,0.583418,0.599340,0.251094,0.527103,2759.553604,0.122992,0.015969,7.922824
5297,IND,India,Indian Rupee,2011,5.628812e+06,5.888199e+06,1247.236084,493.085602,2113.624512,1.987892,...,0.378155,0.328468,0.740634,0.725157,0.258379,0.447968,4720.997953,0.083528,0.013205,8.459775
6719,LKA,Sri Lanka,Sri Lanka Rupee,2005,1.005062e+05,1.037138e+05,19.524557,6.309599,1887.692505,2.899646,...,0.328880,0.139221,0.563925,0.551303,0.255311,0.979935,5311.967883,0.020198,0.007847,8.577718
6725,LKA,Sri Lanka,Sri Lanka Rupee,2011,1.812269e+05,1.918347e+05,20.315018,7.042391,1993.543701,2.881629,...,0.429521,0.235031,0.727148,0.651843,0.295438,0.903642,9443.000325,0.125449,0.005776,9.153029
7399,MEX,Mexico,Mexican Peso,2005,1.485123e+06,1.484991e+06,108.472229,42.007401,2290.000000,2.516070,...,0.662830,0.509573,0.609586,0.593959,0.682857,1.539017,13690.058171,0.054794,0.013801,9.524425
7405,MEX,Mexico,Mexican Peso,2011,1.878912e+06,1.851006e+06,119.090019,49.495628,2248.000000,2.618361,...,0.660996,0.388224,0.734080,0.693276,0.592380,1.120077,15542.917761,0.071407,0.015096,9.651360
8215,MYS,Malaysia,Malaysian Ringgit,2005,4.137288e+05,3.862756e+05,25.659393,10.138443,2361.263916,2.729221,...,0.351395,0.222199,0.576823,0.584766,0.276321,0.731901,15053.963195,0.120832,0.019277,9.619397
8221,MYS,Malaysia,Malaysian Ringgit,2011,6.228159e+05,5.723870e+05,28.635128,12.574964,2285.832275,2.904489,...,0.486423,0.431682,0.726047,0.671128,0.360623,0.839511,19988.979954,0.115882,0.018598,9.902936
8425,NGA,Nigeria,Naira,2011,8.510568e+05,8.456822e+05,162.877075,51.954529,1984.212524,1.781641,...,0.569714,0.412317,0.589381,0.694776,0.389514,0.888345,5192.150270,0.001127,0.027108,8.554903
9031,PER,Peru,Nuevo Sol,2005,1.762903e+05,1.708049e+05,27.610411,13.455178,1956.416870,2.776108,...,0.393158,0.479328,0.601510,0.550937,0.323397,0.854832,6186.248981,0.090589,0.012364,8.730084
9037,PER,Peru,Nuevo Sol,2011,3.087073e+05,3.000692e+05,29.759989,15.549540,1923.783081,2.698859,...,0.651267,0.497698,0.743922,0.676862,0.490436,1.216711,10082.974860,0.088620,0.013153,9.218604
9099,PHL,Philippines,Philippine Peso,2005,3.498562e+05,3.643282e+05,86.274239,30.992811,2103.612061,2.522440,...,0.333374,0.197318,0.611318,0.594043,0.250839,0.664657,4222.908900,0.020456,0.018845,8.348279
9105,PHL,Philippines,Philippine Peso,2011,5.440558e+05,5.528638e+05,95.277939,35.353539,2126.817139,2.604868,...,0.416102,0.455231,0.761365,0.688013,0.284586,0.762728,5802.642450,0.076311,0.016551,8.666069
9167,POL,Poland,Zloty,2005,5.930948e+05,5.906406e+05,38.362667,13.983799,2079.048340,3.118110,...,0.558668,0.427861,0.604211,0.576648,0.527815,0.997602,15396.233041,0.053348,-0.000870,9.641878
9173,POL,Poland,Zloty,2011,8.827704e+05,8.604238e+05,38.320946,15.343798,2043.599976,3.254020,...,0.732347,0.474737,0.766172,0.691301,0.635527,1.156406,22453.092777,0.068888,-0.000064,10.019184
9507,ROU,Romania,New Leu,2005,2.242740e+05,2.339766e+05,21.431019,8.947338,1852.912109,3.003774,...,0.529539,0.315088,0.570058,0.587871,0.464322,1.147219,10917.660051,0.053619,-0.007417,9.298137
9513,ROU,Romania,New Leu,2011,3.629105e+05,3.539728e+05,20.292967,8.413995,1893.799683,3.118466,...,0.557310,0.317170,0.772091,0.653054,0.413897,0.634084,17443.129262,0.039791,-0.007210,9.766701
9575,RUS,Russian Federation,Russian Ruble,2005,2.024362e+06,1.943813e+06,143.618179,66.498711,1989.000000,3.227443,...,0.504085,0.290115,0.507816,0.598565,0.503107,0.296301,13534.589661,0.152686,-0.002960,9.513004
9581,RUS,Russian Federation,Russian Ruble,2011,3.526680e+06,3.566932e+06,143.263992,67.484268,1979.000000,3.312630,...,0.858769,0.449391,0.640153,0.757779,0.855745,0.431717,24897.620417,0.144504,0.000769,10.122528
11003,THA,Thailand,Baht,2005,6.175854e+05,6.229341e+05,65.425468,37.175175,2337.971191,2.392069,...,0.336361,0.236528,0.599091,0.572517,0.245671,0.487097,9521.278790,0.087191,0.006511,9.161284
11009,THA,Thailand,Baht,2011,9.135372e+05,8.918455e+05,67.530128,40.240421,2357.556885,2.579838,...,0.436291,0.398904,0.762762,0.714065,0.282408,0.525348,13206.631175,0.056848,0.004781,9.488474
11343,TUR,Turkey,New Turkish Lira,2005,8.687360e+05,8.780559e+05,67.903404,18.433725,1936.000000,2.103475,...,0.615210,0.412517,0.580324,0.596404,0.588775,1.848817,12930.955154,0.094191,0.013365,9.467379
11349,TUR,Turkey,New Turkish Lira,2011,1.434977e+06,1.469063e+06,73.409454,21.778034,1864.000000,2.245841,...,0.583315,0.402139,0.729411,0.718898,0.449521,1.233482,20011.902937,0.116071,0.014967,9.904083
11683,URY,Uruguay,Peso Uruguayo,2005,3.401187e+04,3.372859e+04,3.325612,1.368174,1628.001221,2.529932,...,0.472008,0.526581,0.593329,0.547689,0.411536,0.892622,10142.068662,0.057628,0.000456,9.224447
11689,URY,Uruguay,Peso Uruguayo,2011,6.086244e+04,5.814480e+04,3.385624,1.665799,1585.915405,2.600325,...,0.742427,0.832012,0.748953,0.642125,0.595035,1.219109,17174.029324,0.088107,0.003322,9.751154
11955,VEN,Venezuela (Bolivarian Republic of),Bolivar Fuerte,2005,2.698434e+05,2.809859e+05,26.784161,10.949265,1922.850098,2.348534,...,0.670570,0.494065,0.467495,0.572703,0.619076,1.011724,10490.747836,0.258154,0.017356,9.258249
12227,ZAF,South Africa,Rand,2005,4.964551e+05,5.040108e+05,48.820587,14.254235,2399.428223,2.285649,...,0.541489,0.647385,0.600607,0.621578,0.576965,1.174934,10323.735807,0.064087,0.011880,9.242201
12233,ZAF,South Africa,Rand,2011,6.251416e+05,6.183850e+05,52.263515,15.451544,2254.585693,2.557714,...,0.598970,0.731348,0.736401,0.705868,0.456570,0.772404,11832.059026,0.038935,0.013160,9.378568

In [118]:
data_1970.tail()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k,gdppc,gdppc_growth,pop_growth,ln_gdppc
12371,ZWE,Zimbabwe,US Dollar,2013,28086.937500,28329.810547,15.054506,7.914061,NaN,2.504635,...,0.582022,0.448409,0.723247,0.632360,0.383488,0.704313,1881.815981,0.046855,0.023362,7.539993
12372,ZWE,Zimbabwe,US Dollar,2014,29217.554688,29355.759766,15.411675,8.222112,NaN,2.550258,...,0.557172,0.392895,0.724510,0.628352,0.349735,0.704991,1904.774069,0.012200,0.023725,7.552119
12373,ZWE,Zimbabwe,US Dollar,2015,30091.923828,29150.750000,15.777451,8.530669,NaN,2.584653,...,0.580814,0.343926,0.654940,0.564430,0.348472,0.713156,1847.621064,-0.030005,0.023734,7.521654
12374,ZWE,Zimbabwe,US Dollar,2016,30974.292969,29420.449219,16.150362,8.839398,NaN,2.616257,...,0.599462,0.337853,0.657060,0.550084,0.346553,0.718671,1821.658808,-0.014052,0.023636,7.507503
12375,ZWE,Zimbabwe,US Dollar,2017,32693.474609,30940.816406,16.529903,9.181251,NaN,2.648248,...,0.726222,0.340680,0.645338,0.539529,0.412392,0.755215,1871.808663,0.027530,0.023500,7.534660

In [119]:
data_1970= data_1970[['country','year','gdppc_growth','ln_gdppc','pop_growth','csh_i','hc']]

In [120]:
data_00= data_1970[data_1970['year']<=2000]

In [121]:
data_00.tail()

        country  year  gdppc_growth  ln_gdppc  pop_growth     csh_i        hc
12354  Zimbabwe  1996      0.097821  8.545370    0.017483  0.170777  2.011584
12355  Zimbabwe  1997     -0.184319  8.341637    0.016646  0.199020  2.025736
12356  Zimbabwe  1998     -0.160282  8.166948    0.015651  0.248258  2.039988
12357  Zimbabwe  1999     -0.106390  8.054462    0.014400  0.216438  2.054339
12358  Zimbabwe  2000     -0.173960  7.863350    0.013073  0.396468  2.068792

In [174]:
mean_country=data_00.sort_values(['country']).groupby('country')[['gdppc_growth']].mean()

In [175]:
mean_country.columns.values

array(['gdppc_growth'], dtype=object)

In [176]:
mean_country

                                    gdppc_growth
country
Albania                                 0.019686
Algeria                                 0.012778
Angola                                 -0.016966
Anguilla                                0.036065
Antigua and Barbuda                     0.040036
...                                          ...
Venezuela (Bolivarian Republic of)     -0.000220
Viet Nam                                0.032753
Yemen                                   0.070236
Zambia                                 -0.018855
Zimbabwe                                0.013961

[182 rows x 1 columns]

In [190]:
gy = data_00[['gdppc_growth','year','country']]

In [191]:
gy['gdppc_1']=gy['gdppc_growth']

C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [192]:
gy = gy[gy['year']==1971]

In [193]:
gy=gy[['country','gdppc_1']]

In [194]:
merge = pd.merge(gy,mean_country,how='outer',on ='country')

In [195]:
merge

                  country   gdppc_1  gdppc_growth
0                   Aruba  0.083955      0.063779
1                  Angola  0.044414     -0.016966
2                Anguilla -0.031868      0.036065
3                 Albania  0.014727      0.019686
4    United Arab Emirates -0.034152     -0.025813
..                    ...       ...           ...
177              Viet Nam -0.013511      0.032753
178                 Yemen       NaN      0.070236
179          South Africa -0.021495      0.004318
180                Zambia -0.022306     -0.018855
181              Zimbabwe  0.055210      0.013961

[182 rows x 3 columns]

In [196]:
df=data_00[data_00['year']==2000]

In [197]:
df.head()

,country,year,gdppc_growth,ln_gdppc,pop_growth,csh_i,hc
50,Aruba,2000,-0.123110,10.665274,0.020763,0.319617,NaN
118,Angola,2000,-0.167562,7.583561,0.030794,0.375627,1.296941
186,Anguilla,2000,-0.079309,9.963353,0.025665,0.683849,NaN
254,Albania,2000,0.004945,8.480232,0.002052,0.149829,2.801147
322,United Arab Emirates,2000,0.160391,11.381014,0.055808,0.304733,2.610784

In [198]:
df = df[['country','ln_gdppc','pop_growth','csh_i','hc']]

In [199]:
df.dropna()

                    country   ln_gdppc  pop_growth     csh_i        hc
118                  Angola   7.583561    0.030794  0.375627  1.296941
254                 Albania   8.480232    0.002052  0.149829  2.801147
322    United Arab Emirates  11.381014    0.055808  0.304733  2.610784
390               Argentina   9.450904    0.011171  0.177345  2.657196
458                 Armenia   8.138576   -0.006290  0.119470  3.098649
...                     ...        ...         ...       ...       ...
12086              Viet Nam   7.652977    0.011263  0.187313  1.972043
12154                 Yemen   7.115728    0.028578  0.060124  1.173809
12222          South Africa   9.073228    0.014859  0.147136  2.086037
12290                Zambia   7.051432    0.028468  0.223786  2.066467
12358              Zimbabwe   7.863350    0.013073  0.396468  2.068792

[144 rows x 5 columns]

In [200]:
final= pd.merge(merge,df,how='outer',on='country')

In [201]:
final.head()

,country,gdppc_1,gdppc_growth,ln_gdppc,pop_growth,csh_i,hc
0,Aruba,0.083955,0.063779,10.665274,0.020763,0.319617,NaN
1,Angola,0.044414,-0.016966,7.583561,0.030794,0.375627,1.296941
2,Anguilla,-0.031868,0.036065,9.963353,0.025665,0.683849,NaN
3,Albania,0.014727,0.019686,8.480232,0.002052,0.149829,2.801147
4,United Arab Emirates,-0.034152,-0.025813,11.381014,0.055808,0.304733,2.610784

In [204]:
final = final.dropna()

In [205]:
final.head()

,country,gdppc_1,gdppc_growth,ln_gdppc,pop_growth,csh_i,hc
1,Angola,0.044414,-0.016966,7.583561,0.030794,0.375627,1.296941
3,Albania,0.014727,0.019686,8.480232,0.002052,0.149829,2.801147
4,United Arab Emirates,-0.034152,-0.025813,11.381014,0.055808,0.304733,2.610784
5,Argentina,0.013536,0.044461,9.450904,0.011171,0.177345,2.657196
8,Australia,0.018989,0.020271,10.469322,0.010694,0.244897,3.538635

In [207]:
Y = final['gdppc_growth']
X = final[['gdppc_1','ln_gdppc','pop_growth','csh_i','hc']]

In [241]:

import statsmodels.api as sm

In [242]:
X = sm.add_constant(X)
model = sm.OLS(Y,X).fit()

C:\Users\isaac\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [243]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           gdppc_growth   R-squared:                       0.469
Model:                            OLS   Adj. R-squared:                  0.447
Method:                 Least Squares   F-statistic:                     21.55
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           2.07e-15
Time:                        22:43:47   Log-Likelihood:                 347.80
No. Observations:                 128   AIC:                            -683.6
Df Residuals:                     122   BIC:                            -666.5
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0190      0.012     -1.542      0.126      -0.043       0.005
gdppc_1        0.1391      0.030      4.637      0.000       0.080       0.198
ln_gdppc       0.0067      0.002      3.349      0.001       0.003       0.011
pop_growth    -0.6607      0.152     -4.350      0.000      -0.961      -0.360
csh_i          0.0349      0.022      1.574      0.118      -0.009       0.079
hc            -0.0089      0.004     -2.021      0.045      -0.018      -0.000
==============================================================================
Omnibus:                        0.924   Durbin-Watson:                   2.367
Prob(Omnibus):                  0.630   Jarque-Bera (JB):                0.624
Skew:                           0.160   Prob(JB):                        0.732
Kurtosis:                       3.119   Cond. No.                         969.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [244]:
y = final['gdppc_growth']
x = final['ln_gdppc']

In [249]:
x = sm.add_constant(x)
model1 = sm.OLS(y,x).fit()

In [250]:
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           gdppc_growth   R-squared:                       0.244
Model:                            OLS   Adj. R-squared:                  0.238
Method:                 Least Squares   F-statistic:                     40.59
Date:                Thu, 02 Apr 2020   Prob (F-statistic):           3.22e-09
Time:                        22:48:03   Log-Likelihood:                 325.15
No. Observations:                 128   AIC:                            -646.3
Df Residuals:                     126   BIC:                            -640.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0524      0.011     -4.562      0.000      -0.075      -0.030
ln_gdppc       0.0082      0.001      6.371      0.000       0.006       0.011
==============================================================================
Omnibus:                       10.618   Durbin-Watson:                   2.539
Prob(Omnibus):                  0.005   Jarque-Bera (JB):               24.082
Skew:                           0.183   Prob(JB):                     5.90e-06
Kurtosis:                       5.093   Cond. No.                         60.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""